<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="trip">
    <material name="grey">
        <color rgba="0.7 0.7 0.7 1.0"/>
    </material>
    
    <!-- Base link -->
    <link name="trip/base_link">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1.0"/>
            <inertia
                ixx="0.01" ixy="0.0" ixz="0.0"
                iyy="0.01" iyz="0.0"
                izz="0.01"/>
        </inertial>
        <visual>
            <origin xyz="0.003 -0.002 -0.075" rpy="0 0 3.1416"/>
            <geometry>
                <mesh filename="package://trip_description/meshes/base_link.stl" scale="1 1 1"/>
            </geometry>
            <material name="grey"/>
        </visual>
    </link>
</robot>
