<?xml version="1.0"?>
<robot name="trip" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <link name="${robot_name}/camera_link">
    <inertial>
      <mass value="0.01"/>
      <inertia
        ixx="1e-5" ixy="0.0" ixz="0.0"
        iyy="1e-5" iyz="0.0"
        izz="1e-5"/>
    </inertial>
  </link>

  <joint name="camera_joint" type="fixed">
    <parent link="${robot_name}/base_link"/>
    <child link="${robot_name}/camera_link"/>
    <origin xyz="${camera_x} ${camera_y} ${camera_z}" rpy="0 0 0"/>
  </joint>

  <gazebo reference="${robot_name}/camera_link">
    <sensor name="camera_sensor" type="camera">
      <update_rate>${camera_fps}</update_rate>
      <camera>
        <horizontal_fov>${camera_fov_h_rad}</horizontal_fov>
        <image>
          <width>${camera_res_width}</width>
          <height>${camera_res_height}</height>
          <format>R8G8B8</format>
        </image>
        <clip><near>0.05</near><far>50</far></clip>
      </camera>

      <plugin name="trip_camera_plugin" filename="libgazebo_ros_camera.so">
        <ros><namespace>/trip</namespace></ros>
        <frame_name>camera_link</frame_name>
        <camera_name>camera</camera_name>
        <image_topic_name>image_raw</image_topic_name>
        <camera_info_topic_name>camera_info</camera_info_topic_name>
      </plugin>
    </sensor>
  </gazebo>

</robot>
