<?xml version='1.0' ?>
<robot name='trip' xmlns:xacro='http://www.ros.org/wiki/xacro'> 

  <ros2_control name="gazebo_ros2_control" type="system">
    <hardware>
      <plugin>gazebo_ros2_control/GazeboSystem</plugin>
    </hardware>
    <joint name="lidar_roll_joint">
      <command_interface name="position">
          <param name="min">${-30*pi/180.0}</param>
          <param name="max">${30*pi/180.0}</param>
      </command_interface>
      <command_interface name="velocity">
        <param name="min">-1</param>
        <param name="max">1</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
    </joint>

    <joint name="right_front_wheel_joint">
      <command_interface name="velocity">
        <param name="min">-1</param>
        <param name="max">1</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <joint name="left_front_wheel_joint">
      <command_interface name="velocity">
        <param name="min">-1</param>
        <param name="max">1</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <joint name="right_rear_wheel_joint">
      <command_interface name="velocity">
        <param name="min">-1</param>
        <param name="max">1</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <joint name="left_rear_wheel_joint">
      <command_interface name="velocity">
        <param name="min">-1</param>
        <param name="max">1</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
  </ros2_control>

  <gazebo>
    <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
      <parameters>$(find trip_description)/config/controllers.yaml</parameters>
    </plugin>
  </gazebo>
  <!-- No friction for front wheel_joints -->
  <!-- <gazebo reference="right_front_wheel_joint">
    <mu1 value="0.8"/>
    <mu2 value="0.1"/>
    <slip1>0.2</slip1>
    <slip2>0.2</slip2>
  </gazebo>
  <gazebo reference="left_front_wheel_joint">
    <mu1 value="0.8"/>
    <mu2 value="0.1"/>
    <slip1>0.2</slip1>
    <slip2>0.2</slip2>
  </gazebo>
  <gazebo reference="right_rear_wheel_joint">
    <mu1 value="0.8"/>
    <mu2 value="0.1"/>
    <slip1>0.2</slip1>
    <slip2>0.2</slip2>
  </gazebo>
  <gazebo reference="left_rear_wheel_joint">
    <mu1 value="0.8"/>
    <mu2 value="0.1"/>
    <slip1>0.2</slip1>
    <slip2>0.2</slip2>
  </gazebo> -->

  
</robot>