<?xml version="1.0"?>
<robot name="trip" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name='wheel_x_offset' value='0.07'/>
    <xacro:property name='wheel_y_offset' value='0.0716'/>
    <xacro:property name='wheel_radius' value='0.034'/>

    <xacro:macro name="wheel" params="name x y">
    <link name="${name}">
        <collision>
        <geometry>
            <cylinder radius="${wheel_radius}" length="0.027"/>
        </geometry>
        </collision>

        <inertial>
        <mass value="0.1"/>
        <inertia
            ixx="1e-3" ixy="0" ixz="0"
            iyy="1e-3" iyz="0"
            izz="1e-3"/>
        </inertial>
        <mu>5.0</mu>
    </link>

    
    <joint name="${name}_joint" type="continuous">
        <parent link="${robot_name}/base_link"/>
        <child link="${name}"/>
        <origin xyz="${x} ${y} -0.042" rpy="0 ${pi/2} ${pi/2}"/>
        <axis xyz="0 0 1"/>
    </joint>
    </xacro:macro>

    <xacro:wheel name="right_front_wheel" x="${wheel_x_offset}"  y="${-wheel_y_offset}"/>
    <xacro:wheel name="left_front_wheel"  x="${wheel_x_offset}"  y="${wheel_y_offset}"/>
    <xacro:wheel name="right_rear_wheel"  x="${-wheel_x_offset}" y="${-wheel_y_offset}"/>
    <xacro:wheel name="left_rear_wheel"   x="${-wheel_x_offset}" y="${wheel_y_offset}"/>

</robot>
