<?xml version="1.0"?>
<robot name="trip" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="wheel" params="name x y">
    <link name="${name}">
        <collision>
        <geometry>
            <cylinder radius="${wheel_radius}" length="0.027"/>
        </geometry>
        </collision>

        <inertial>
        <mass value="0.05"/>
        <inertia
            ixx="1e-3" ixy="0" ixz="0"
            iyy="1e-3" iyz="0"
            izz="1e-3"/>
        </inertial>
        <mu>${wheel_slip_mu}</mu>
    </link>

    
    <joint name="${name}_joint" type="continuous">
        <parent link="${robot_name}/base_link"/>
        <child link="${name}"/>
        <origin xyz="${x} ${y} ${wheel_z}" rpy="0 ${pi/2} ${pi/2}"/>
        <axis xyz="0 0 1"/>
    </joint>
    </xacro:macro>

    <xacro:wheel name="right_front_wheel" x="${wheel_x}"  y="${-wheel_y}"/>
    <xacro:wheel name="left_front_wheel"  x="${wheel_x}"  y="${wheel_y}"/>
    <xacro:wheel name="right_rear_wheel"  x="${-wheel_x}" y="${-wheel_y}"/>
    <xacro:wheel name="left_rear_wheel"   x="${-wheel_x}" y="${wheel_y}"/>

</robot>
